{
  "telegram": {
    "access_token": "",
    "chat_ids": []
  },
  "tle_max_age_days": 3,
  "http_port": 3030,
  "ground_station_location": {
    "lat": -27.27,
    "lon": -59.00,
    "alt": 50
  },
  "satellite_min_elevation": 20,
  "rotator": {
    "host": "1.2.3.4",
    "port": 9292
  },
  "spyserver": {
    "host": "example.com",
    "port": 5556
  }
}